@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#f7fafc;
font-family:Arial,Helvetica,sans-serif;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

body{
    background:#f7fafc;
    font-family: Inter, sans-serif;
}

.container{
    max-width:1180px;
    margin:auto;
    padding-left:16px;
    padding-right:16px;
}

.section{
    margin-top:20px;
}

.card{
    background:white;
    border:1px solid #e5e7eb;
    border-radius:6px;
}
/* Hide Scrollbar */

.scrollbar-hide::-webkit-scrollbar{
    display:none;
}

.scrollbar-hide{
    -ms-overflow-style:none;
    scrollbar-width:none;
}